
ChakaiP2EFunctionsAPI/Properties/PublishProfiles/ChakaiP2EFunctions - Zip Deploy1.pubxml.user
ChakaiP2EFunctionsAPI/Properties/serviceDependencies.ChakaiP2EFunctions - Zip Deploy1.json
ChakaiP2EFunctionsAPI/Properties/serviceDependencies.ChakaiP2EFunctions - Zip Deploy1.json.user
ChakaiP2EFunctionsAPI/Properties/PublishProfiles/ChakaiP2EFunctions - Zip Deploy1.pubxml
.vs/ProjectEvaluation/chakaip2efunctionsapi.strings.v9.bin
.vs/ProjectEvaluation/chakaip2efunctionsapi.projects.v9.bin
.vs/ProjectEvaluation/chakaip2efunctionsapi.metadata.v9.bin
.vs/ChakaiP2EFunctionsAPI/v17/DocumentLayout.json
.vs/ChakaiP2EFunctionsAPI/v17/DocumentLayout.backup.json
.vs/ChakaiP2EFunctionsAPI/v17/.suo
.vs/ChakaiP2EFunctionsAPI/v17/.futdcache.v2
.vs/ChakaiP2EFunctionsAPI/FileContentIndex/fc1eb93d-49b3-4bd5-8abf-dfa4001398fe.vsidx
.vs/ChakaiP2EFunctionsAPI/FileContentIndex/beb3bc12-12f4-4ed0-9222-eba336c0ec2f.vsidx
.vs/ChakaiP2EFunctionsAPI/FileContentIndex/7267fc11-b1e5-45d3-8de2-dce7acebe486.vsidx
.vs/ChakaiP2EFunctionsAPI/FileContentIndex/58c473aa-7a84-444c-97a8-df3bc528af6e.vsidx
.vs/ChakaiP2EFunctionsAPI/FileContentIndex/0b58f49a-fb21-4d44-afcf-678d25b625a3.vsidx
.vs/ChakaiP2EFunctionsAPI/DesignTimeBuild/.dtbcache.v2
.vs/ChakaiP2EFunctionsAPI/config/applicationhost.config
